<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="SITCON x HK 2017">
    <meta property="og:url" content="http://hk.sitcon.org/2017/">
    <meta property="og:image" content="http://hk.sitcon.org/2017/img/og.jpg" />
    <meta property="og:site_name" content="Hong Kong Student IT Conference 2017">
    <meta property="og:type" content="article">
    <meta property="og:description" content="SITCON x HK, Hong Kong Student IT Conference, formed by students with passion in IT, a student-centered organisation hope to provide a stage for all Hong Kong students to express and develop their talent with Open Source. The theme of year 2017 is 'Exploration and Innovation', hoping to help students finding their way in IT industry.">
    <title>SITCON x HK 2017</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/2017/img/icons/logo-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/2017/img/icons/logo-16x16.png">
    <!--[if IE]><link rel="shortcut icon" href="/2017/images/favicon.ico"><![endif]-->
    <!-- Add to home screen for Android and modern mobile browsers -->
    <link rel="manifest" href="/2017/manifest.json">
    <meta name="theme-color" content="#9D1F25">


    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="SITCON x HK 2017">
    <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>"><% }}} %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="app">
      <noscript>Javascript is required for this website, please enable Javascript.</noscript>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-74628515-1', 'auto');
    </script>
    <!-- Todo: only include in production -->
    <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
    <!-- built files will be auto injected -->
  </body>
</html>
