@import "../color"

$darken-red: #7c2618

.backdrop
  background: url('/2017/img/background.jpg') center/cover no-repeat fixed
  min-height: 100%
  position: relative
  opacity: 0.75
  filter: brightness(1.2)

img
  margin-bottom: -5px

div.brand
  text-align: center
  padding: 12px 24px
  letter-spacing: 5px
  font-size: 18px
  background-color: $darken-red !important
  @media screen and (min-width: 769px)
    letter-spacing: 10px

div.theme
  font-size: 18px
  color: $darken-red
  padding: 10px 0
  letter-spacing: 5px
  font-weight: 700
  text-align: center

div.headline
  text-align: center
  span
    display: inline-block
    color: black
    opacity: 1

.content
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  @media screen and (max-width: 768px)
    padding-top: 40px
