@import "../color.styl"

$darken-red := #7c2618

.backdrop
  background: url('/2017/img/background.jpg') no-repeat fixed
  height: 100vh
  min-height: 700px
  position: relative
  background-position: 50%
  @media screen and (max-width: 414px)
    background-position-x: 70%
    background-position-y: 15%
  @media screen and (min-width: 769px)
    background-size: 170%
    background-position-x: 81%
    background-position-y: 45%

div.brand
  text-align: center
  padding: 10px 20px
  letter-spacing: 5px
  font-size: 18px
  background-color: $theme-red !important
  @media screen and (min-width: 769px)
    letter-spacing: 10px
    padding: 12px 24px

div.theme
  font-size: 18px
  color: $theme-red
  margin: 10px 0
  letter-spacing: 5px
  font-weight: 700
  text-align: center

div.headline
  text-align: center
  span
    display: inline-block
    color: white
    opacity: 1
    @media screen and (max-width: 414px)
      background-color: rgba(0, 0, 0, .3)

.content
  position: absolute
  left: 50%
  transform: translate(-50%, -50%)
  top: 40%
  @media screen and (max-width: 414px)
    top: 42%
  @media screen and (max-width: 768px) and (min-width: 415px)
    padding-top: 40px
    top: 30%

  img
    max-height: 48vh
    @media screen and (max-width: 375px)
      margin-top: 40vh
    @media screen and (max-height: 480px)
      margin-top: 20vh
    @media screen and (min-height: 500px)
      margin-top: 20vh

    @media screen and (min-width: 415px)
      margin-bottom: -5px
