.card
  padding-bottom: 10px
  height 100% !important
.card__title
  padding-top: 0 !important
.card__media .card__media__background
  background-position: bottom center !important
.list-organizers .card__media .card__media__background
  background-size: 300px !important

.list-supporting-organizers .card__media .card__media__background
  background-size: 200px !important

.card__title.justify-center.card__title--primary
  text-align: center
