p
  font-size: 1.2rem
  line-height: 1.8
  li
    line-height: 1.8

h3
  margin: 0 24px

.container
  @media only screen and (max-width: 599px)
    padding: 16px
  @media only screen and (min-width: 600px)
    max-width: 100%
